rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Memories can only be accessed by their owner.
    match /memories/{memoryId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
